


body{
    margin:0;
    padding: 0;
    background-color: #f5f4f4;
    font-family: 'Open Sans', sans-serif;
    color: #506784;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

.shrink{
    -webkit-transform: scale(0.87);
       -moz-transform: scale(0.87);
       -ms-transform:scale(0.87);
            transform: scale(0.87);
}

/* The dashboard div */
.dash_div{
    width': 90%;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    textAlign: center;
}

.app_title{
    
/*     The box */
    border:1px solid #C8D4E3;
    border-radius: 15px;
    background-color: #283e4a;
    height:60px;
    vertical-align:middle;
    
/*     The letters */
    color: #dce3e8;
    font-size: 3.5rem;
    letter-spacing: -.1rem;
    font-weight: lighter;
    textAlign: center;
    vertical-align: middle;
}

.chart_div{
    background-color: white;
    border: 1px solid #C8D4E3;
    margin-top: 20px;
    margin-bottom: 10x;
    border-radius: 15px;
    height: 400px;
    vertical-align: middle
}

.chart_div p{
    color: #2a3f5f;
    font-size: 13px;
    text-align: center;   
}


.chart_div_headers {
    font-size: 2.3rem;
    line-height: 1.3;
    letter-spacing: -.1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.widget_headers {
    font-size: 1.7rem;
    line-height: 1.6;
    letter-spacing: 0;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.card_headers {
    font-size: 70%;
}

td{
    text-align: left;
    padding: 0px;
}
table{
    border: 1px;
    font-size:1.3rem;
    width:100%;
    font-family:Ubuntu;
}


